.SellerContainer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.recommendation-list
{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-left: 30px;
}
.recommendation-list ul
{
    display: flex;

}
.recommendation-list ul li
{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 480px) 
{
    .recommendation-list ul
    {
      display: flex;
      flex-direction: column;
    }
}