.homegallery
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}
.homegallery .sideimage
{
   width: 20%;
   height: 80vh;
}
.homegallery .sideimage img
{
    width: 100%;                 
    height: 100%;                
    object-fit:cover;
}
.homegallery .mainimage
{
   width: 70%;
   height: 80vh;
}